.Services {
  width: 90%;
  height: auto;
  margin: auto;
}
.Services .ser-title h2 {
  position: relative;
}
.Services-container {
  margin-top: 10px;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}
.Services .ser-title h2::after {
  content: " ";
  position: absolute;
  width: 130px;
  height: 3px;
  background-color: coral;
  bottom: -5px;
  left: 0;
}
.service {
  width: 23%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: darkslategrey;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.service-img img {
  width: 120px;
  height: 100px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.service-img img:hover {
  transform: scale(1.1) !important;
  -webkit-transform: scale(1.1) !important;
  -moz-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  -o-transform: scale(1.1) !important;
}
.service:hover {
  cursor: pointer;
  transform: scale(1.04) !important;
  -webkit-transform: scale(1.04) !important;
  -moz-transform: scale(1.04) !important;
  -ms-transform: scale(1.04) !important;
  -o-transform: scale(1.04) !important;
}

.service-details h3 {
  margin-top: 10px;
}
.service-details p {
  font-family: cursive;
}

@media (max-width: 500px) {
  .Services-container {
    flex-direction: column;
  }
  .service {
    width: 350px;
  }
}
