.navbar-content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navbar-content h2 {
  font-size: 26px;
  font-weight: bold;
}
.navbar-content h2 span {
  color: coral;
}
.navbar-content .navbar-items ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.navbar-content .navbar-items ul li {
  position: relative;
}
.navbar-content .navbar-items ul li a {
  text-decoration: none;
  color: white;
}
.Hm {
  position: relative;
  color: coral;
}
.Hm::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: coral;
  left: 0;
  bottom: 0;
}
.navbar-content .navbar-items ul .sm::after {
  content: " ";
  width: 0px;
  height: 2px;
  background-color: coral;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navbar-content .navbar-items ul .sm:hover::after {
  width: 100%;
  cursor: pointer;
}
.list-icon-drop-down {
  font-size: 25px;
  display: none;
}
@media (max-width: 500px) {
  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-items ul {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    gap: 0px;
  }
  .navbar-items ul li {
    width: 100%;
    display: none;
  }
  .navbar-items ul li a {
    display: block;
    width: 100%;
    padding: 0px;
    text-align: left;
  }
  .navbar-items ul.open li {
    display: block;
  }
  .list-icon-drop-down {
    display: block;
    position: absolute;
    right: 30px;
    cursor: pointer;
  }
  .list-icon-drop-down a {
    color: white;
  }
}
